<form action="/" method="POST">
    <input type="text" name="name" id="name" placeholder="Restaurant name" /> <br />

    <input type="text" name="street" id="street" placeholder="Restaurant street" /> <br />

    <input type="text" name="zipcode" id="zipcode" placeholder="Restaurant Zipcode" /> <br />


    <input type="text" name="yelpUrl" id="yelpUrl" placeholder="Yelp Url" /> <br />


    <input type="submit" />

</form>