<h1> Restuarants </h1>
<ul>
  {{#each restaurant}}
    <li>name: {{name}}</li>
    <a href="/restaurants/{{this._id}}">Show Restaurant</a>
    <br><br>
  {{/each}}
</ul>
<a href="/restaurants/new">Add a Restaurant</a>