
<form action="/restuarants" method="POST">
  <div>
  <label for="name">name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="address">Address:</label> <br/>
    <label for="street">street:</label>
    <input type="text" name="street"></input>
    <label for="zipcode">zipcode:</label>
    <input type="text" name="zipcode"></input>
     </div>
     <div>
  <label for="yelpUrl">Yelp URL:</label>
    <input type="text" name="yelpUrl">
  </div>
  <div>
  <label for="items">items:</label>
    <input type="text" name="items">
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<a href="/restuarants">All restuarants</a>